ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    list-style-type: none;
    padding: 0;
}

li a{
    display: flex;
    height: 375px;
    width: 200px;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    flex-direction: column;
    overflow: hidden;
   }

   li a:hover{
    opacity: 0.9;
    cursor: pointer;
   }